/*
========================================================================
RESET
========================================================================
*/
/* global rest */
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, pre,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, li, ol,
th, td, p, blockquote,
form, fieldset, legend,
menu, nav, section, hgroup, article, header, aside, footer,
input, select, textarea, button {
    margin: 0;
    padding: 0;
}

body,
h1, h2, h3, h4, h5, h6, table,
input, select, textarea, a {
    font-size: 12px;
  /*  line-height: 1.25;   */  
    color: #777; 
}

h1, h2, h3, h4, h5, h6 { font-weight: normal }
img, fieldset, button { border: 0 none }
li { list-style: none }
hr, caption, legend { display: none }
a { color: #777; text-decoration: none; }
a:hover { }
button { overflow: hidden; cursor: pointer; }
button span { visibility: hidden }
address, em { font-style: normal }
select { line-height: 22px; height: 22px; }
input:focus { outline: none }
table { width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-wrap: break-word; word-break: keep-all; }

/*
========================================================================
공통 class
========================================================================
*/

/* image replace, hidden text */
.ir *,
.blind { z-index:-1; position: absolute; display: block; left: 0; top: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; text-indent: -9999px; }

/* block, inline */
.d-block { display: block;}
.d-inline { display: inline;}

/* form */
.txt-right { text-align: right; }
.MS_input_txt { margin-right:5px; height: 22px; line-height: 22px; }
.MS_input_tel { height: 22px; line-height: 22px; }
.MS_select { height: 22px; line-height: 22px; }
.txt-disabled { background-color: #f6f6f6; }
.chk-rdo { width: 13px; height: 13px; vertical-align: middle; }
.txt-area1 { overflow-y: scroll; padding: 2px 0 0 2px; line-height: 17px; }

/* file add trick */
.file-wrap { display: inline-block; overflow: hidden; position: relative; height: 23px; width: 280px; vertical-align: middle; background: url(/images/btn/h20_trick_fileadd.gif) no-repeat right 0; }
.file-wrap .file-txt { float: left; border: 0 none; height: 18px; font-size: 12px; line-height: 18px; width: 198px; border: 1px solid #ccc; }
.file-wrap .file-trick { cursor: pointer; position: absolute; right: 0px; top: 0; right: 0; width: 100px; height: 20px; background: none; border: 0 none; opacity: 0; filter: alpha(opacity=0); }

/* font-color */
.fc-red { color: #bd101b; }
.fc-blue { color: #2c6b9e; }
.MS_option_price { color: #FF3C00; }

/* bold */
.bold { font-weight: bold; }

/* float clear */
.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }
.fl_left { float:left; }

/* margin */
.mr-5 { margin-right: 5px;}
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }

/* padding */
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-50 { padding-bottom: 50px; }

/* table */
table img { vertical-align: middle; }
.tb-bold { font-weight: bold; }
.tb-left,
.tb-center,
.tb-right { padding: 0 10px; }
.tb-btn { padding: 0; }
.tb-left { text-align: left; }
.tb-center { text-align: center; }
.tb-right { text-align: right; }
.tb-label-r5 label { margin-right: 5px; }
.tb-label-r10 label { margin-right: 10px; }
.tb-label-r10 label.last,
.tb-label-r5 label.last{ margin-right: 0; }

/* table-type-1 */
.table-type-1 { border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; }
.table-type-1 th,
.table-type-1 td { padding: 8px 0 8px;  border-bottom: 1px solid #ddd;}
.table-type-1 tr.nbg th,
.table-type-1 tr.nbg td { border-bottom: 0 ;}
.table-type-1 tr.bg th,
.table-type-1 tr.bg td { background-color: #fcfcfc; }
.table-type-1 th { font-weight: normal; }

/* table-type-2 */
.table-type-2 { border-top: 1px solid #111; border-bottom: 1px solid #ccc; padding: 10px ; }
.table-type-2 th,
.table-type-2 td { padding: 12px 0; }
.table-type-2 th { font-weight: normal; }
.table-type-2 tr.nbg th,
.table-type-2 tr.nbg td { border-bottom: 0 ; }

/* 상품리스트 (메인/검색/상품리스트) */
.prd-list { margin-top: 10px; }
.prd-list table td { border: 0; vertical-align: top; }
.prd-list table .tb-center { padding: 0 10px; }
.prd-list table .info { padding: 5px 0; }
.prd-list .thumb { width: 196px; height: 196px; margin-left: auto; margin-right: auto; font-size:0; line-height: 0; border: 2px solid #f2f4f3; }
.prd-list .thumb a,
.prd-list .thumb img { display: block; width: 100%; height: 100%; }
.prd-list .dsc { margin-top: 15px; font-weight: bold; }
.prd-list .price { margin-top: 5px; font-weight: bold; color: #333; }

/* 상품 total/정렬 */
.total-sort { zoom: 1; overflow: hidden; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; }

/* total */
.total-sort .total { float: left; width: auto; }
.total-sort .total dt,
.total-sort .total dd { display: inline; }
.total-sort .total dd { font-weight: bold; }
.total-sort .total dt { text-transform: capitalize; }

/* sort */
.total-sort .sort { float: right; width: auto; display: inline; margin-right: 20px; }
.total-sort .sort li,
.total-sort .sort li a { float: left; width: auto; }
.total-sort .sort li { display: inline; margin-left: 10px; }

/* 게시판 총게시글,PAGE */
.total-page { zoom: 1; overflow: hidden; }
.total-page .total { float: left; width: auto; }
.total-page .page { float: right; width: auto; }

/* 회원 등급 표시 */

/* 타입 1 */
.mem-lvl { text-align:center; padding: 30px 0;  zoom: 1; overflow: hidden; /*padding: 15px 50px 15px 180px;*/ background-color: #ededed; }
.mem-lvl .lvl-img,

.mem-lvl p { position: relative; float: left; }
.mem-lvl .lvl-img { left: -120px; margin-right: -120px; width: 120px; }
.mem-lvl p { width: 100%;/* padding-top: 10px; */line-height: 16px; }
.mem-lvl p em { color: #be101a; font-weight: bold; }
.mem-lvl span.MS_group_reserve_msg,
.mem-lvl span.MS_group_dc_msg { color:#F26622; }
/* 타입 2 */
.mem-lvl-2 { zoom: 1; overflow: hidden; padding: 15px 50px 15px 150px; border: 5px solid #ededed; }
.mem-lvl-2 .lvl-img,
.mem-lvl-2 p { position: relative; float: left; }
.mem-lvl-2 .lvl-img { display:none; left: -130px; margin-right: -130px; width: 120px; border-right: 1px solid #ededed; }
.mem-lvl-2 p { width: 100%; padding-top: 10px; line-height: 16px; }
.mem-lvl-2 p em { color: #be101a; font-weight: bold; }
.mem-lvl-2 span.MS_group_reserve_msg,
.mem-lvl-2 span.MS_group_dc_msg {
    color:#F26622;
}

/* 마이페이지 상단 메시지 박스 */
.t-box-msg { padding: 10px 20px; border: 5px solid #ededed; }
.t-box-msg strong { color: #0178d3; }


/* 페이지 타이틀 */
/* 타입 1*/
#content .tit-page { padding-bottom:10px; position: relative;color:#202020; line-height:18px;font-size:24px; color:#2e2e2e; font-family:"NotoKrR"; border-bottom: 1px solid #000 }
#content .tit-page .dsc { position: absolute; right: 0px; top: 15px; font-size: 11px; color: #a5a5a5; letter-spacing: -1px; }
#content .tit-page .dsc em { color:#333; }
/* 타입 2 */
#content .tit-page-2 { margin-top:40px; position: relative }
#content .tit-page-2 h2 { font-size:24px; color:#2e2e2e; font-family:"NotoKrR";}
#content .tit-page-2 .dsc { position:absolute; top:8px; right:0 }
/* 타입 3 */
#content .page-hd { padding-bottom:5px; border-bottom:1px solid #e3e3e3 }
#content .page-hd h2 { color: #202020; font-size:18px; font-weight:bold; text-transform: uppercase }

/*
========================================================================
공통 - 버튼타입
========================================================================
*/

.CSSbuttonBlack {font-family:'NotoKrR'; display:inline-block; color:#fff; text-align:center; border:1px solid #231f20; background: #231f20; -webkit-transition:all 0.3s ease; transition:all 0.3s ease }
.CSSbuttonBlack:hover { color:#231f20; background:#fff }
.CSSbuttonBlack:active { position:relative; top:1px }

.CSSbuttonWhite {font-family:'NotoKrR'; display:inline-block;  color:#231f20; text-align:center;  border:1px solid #231f20; background:#fff; -webkit-transition:all 0.3s ease; transition:all 0.3s ease }
.CSSbuttonWhite:hover { color:#fff; background:#231f20 }
.CSSbuttonWhite:active { position: relative; top: 1px }

.CSSbuttonGray {font-family:'NotoKrR'; display:inline-block;  color:#231f20; text-align:center;  border:1px solid #e4e4e5; background:#fff; -webkit-transition:all 0.3s ease; transition:all 0.3s ease }
.CSSbuttonGray:hover { color:#fff; border:1px solid #231f20; background:#231f20 }
.CSSbuttonGray:active { position: relative; top: 1px }

.CSSbuttonMin { padding:3px 10px; font-size:10px }





/*
========================================================================
공통 - 레이어
========================================================================
*/

/* 상품 미리보기 레이어 */
#detailpage { position: absolute; top: 100px; display: block; width: 640px; padding: 10px 10px 40px; border: 3px solid #ccc;  background-color:#fff; }
#detailpage .loc { zoom: 1; overflow: hidden; }
#detailpage .loc span { float: right; width: auto; }
#detailpage .hd { margin-top: 10px; padding: 5px 10px 5px 30px; border-bottom: 1px solid #ddd; }
#detailpage .hd h2 { font-weight: bold; font-size: 16px; color: #111; }
#detailpage .detail { zoom: 1; overflow: hidden; margin-top: 20px; padding-left: 300px; }
#detailpage .thumb-wrap,
#detailpage .txt-wrap { position: relative; float: left; }
#detailpage .close-layer { position: absolute; right: 0px; _bottom: -1px; }

/* thumb-wrap */
#detailpage .thumb-wrap { width: 300px; left: -300px; margin-right: -300px; text-align: center; }
#detailpage .thumb-wrap .btns { margin-top: 10px; }
#detailpage .thumb-wrap .btns a { margin-left: 5px; }
#detailpage .thumb-wrap .thumb img { width: 250px; }

/* txt-wrap */
#detailpage .txt-wrap { width: 100%; }
#detailpage .txt-wrap .ptit { font-weight: bold; font-size: 14px; color: #333; }
#detailpage .txt-wrap .psub { color: #999; padding-top: 3px; }
#detailpage .txt-wrap .table-opt { border-top: 1px solid #ccc; margin-top: 7px; }
#detailpage .txt-wrap .opt { margin-top: 5px; }
#detailpage .txt-wrap .opt li { padding: 3px 0; }
#detailpage .txt-wrap .opt li.s-price { color: #333; }
#detailpage .txt-wrap .f-btns { margin-top: 10px; padding-top: 30px; border-top: 1px solid #ccc;  }
#detailpage .txt-wrap .f-btns a { margin-right: 5px; }

/* opt-spin */
#detailpage .opt-spin { display: inline-block; position: relative; width: 36px; height: 20px; }
#detailpage .opt-spin .txt-spin { width: 22px; height: 18px; padding-right: 2px padding-top: 2px;  font-size: 11px; text-align: right; }
#detailpage .opt-spin .btns { position:absolute; left: 35px; top:0px; width: 12px; height: 20px; }
#detailpage .opt-spin .btns img { overflow: hidden; float: left; text-indent: -999px; background: none; }
#detailpage .thumb-wrap .btns { margin-top: 10px; }
#detailpage .thumb-wrap .btns a { margin-left: 5px; }

/* 게시판 공통 - 일반, 겔러리, 컨텐츠링크, 자료실, 미니홈피, 방명록, 동영상 */

#bbsData { position: relative; }
/* 상단 */
.bbs-hd .link { display:none; text-align: center; margin-top: 30px; }
.bbs-hd .link li { display: inline; }
.bbs-hd .link li a { padding: 0 8px; color: #9c9c9c; letter-spacing: -0.5px; background: url(/images/d3/modern_simple/common/bull_bbs_hd_link.gif) no-repeat left 50%; }
.bbs-hd .link li.last a { background-image: none; }

/* 검색 */
.bbs-sch { margin-top: 20px; margin-bottom : 10px; text-align: right; }
.bbs-sch label { margin-right: 10px; }
.bbs-sch .key-wrap { font-size: 0; line-height: 0; }
.bbs-sch .key-wrap,
.bbs-sch .keyword,
.bbs-sch img { vertical-align: middle; }
.bbs-sch .keyword { width: 125px; height: 14px; padding: 2px 0 0 2px; margin-right: 3px; line-height: 14px; border: 1px solid #ededed; }

/* 게시판 글쓰기, 목록 이동 링크 */
.bbs-link { font-size: 0; line-height: 0; }
.bbs-link a { display: inline-block; line-height: 14px; padding:0 3px; }

/* 게시판 글쓰기, 목록 이동 링크 */
.bbs-link span { line-height:14px; }

/* 게시판 한줄공지 */
.bbs-online-notice { margin-top: 10px; margin-bottom: -10px; padding: 7px 10px; color: #9d9d9d; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }

/* 게시판 타입 - 리스트 */
.bbs-table-list thead th { padding: 10px 0 ; background-color: #fcfcfc; border-top:1px solid #333; border-bottom:1px solid #ccc; color:#777; }
.bbs-table-list tbody td  { padding: 10px 0; border-bottom: 1px solid #ededed; } 

/* 게시판 타입 - 보기 */
.bbs-table-view { margin-top: 10px; }
.bbs-table-view thead th,
.bbs-table-view tbody td  { padding: 6px 0; } 
.bbs-table-view thead th { padding: 10px 0 ; background-color: #fcfcfc; border-top:1px solid #333; border-bottom:1px solid #ccc; color:#777; }
.bbs-table-view tbody td.line { background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom; }
.bbs-table-view .btn-dwn { margin-top:15px; }

/* paging */
.paging { padding-top: 20px; height: 17px; text-align: center; line-height: 0; vertical-align: top; }
.paging li { display: inline; }
.paging li a { overflow: hidden; width: auto; height: 15px; padding: 0 7px; color: #999; cursor: pointer; }
.paging li a:hover,
.paging li.now a { color: #111; }
.paging li.first a,
.paging li.prev a,
.paging li.next a,
.paging li.last a { padding: 0 3px; }
.paging li.prev { margin-right: 10px; }
.paging li.next { margin-left: 10px; }

/* 미니홈피, 방명록 게시글 뷰 */

/* 상단 */
.visit-vhd { margin-top: 10px; border-top: 1px solid #e5e5e5; }
.visit-vhd th,
.visit-vhd td { padding: 3px 0; border-bottom: 1px solid #e5e5e5;  } 
.visit-vhd .tb-left{ padding: 0 3px; }
.visit-vhd td .tb-no { color: #9c9c9c; }
.visit-vhd td .tb-ctrl,
.visit-vhd td .tb-ctrl a { font-size: 11px; color: #9c9c9c; }

/* 내용*/
.visit-vcont { background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom; }
.visit-vcont th,
.visit-vcont td { padding: 6px 0; border-bottom: 1px solid #e5e5e5; } 
.visit-vcont th { font-weight: normal;  color: #9d9d9d; }
.visit-vcont tr.no-line th,
.visit-vcont tr.no-line td { padding-bottom: 0; border-bottom: 0; }
.visit-vcont tr.dot-line th,
.visit-vcont tr.dot-line td { padding-top: 2px; border-bottom: 1px dotted #e5e5e5; }
.visit-vcont tr.info td .tb-left { padding-left: 0; color: #555; }
.visit-vcont .tb-left{ padding: 0 3px; }
.visit-vcont td .tb-cont { padding: 5px 0; min-height: 250px; _height: 250px; }
.visit-vcont td .tb-cont img { max-width: 100%; }

/* 코멘트 */
.visit-vcmt th,
.visit-vcmt td { padding: 6px 0; vertical-align: top; border-bottom: 1px solid #e5e5e5; }
.visit-vcmt th { color: #c5c5c5; }
.visit-vcmt .tb-tit { font-weight: bold; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y right 0; }
.visit-vcmt td .tb-txt { min-height: 30px; _height: 30px; padding-left: 10px; color: #555; }
.visit-vcmt td .date,
.visit-vcmt td .ctrl { display: block; font-size: 11px; }
.visit-vcmt td .date { color: #555; }
.visit-vcmt td .ctrl { margin-top: 5px; }
.visit-vcmt td .ctrl a { margin-left: 2px; margin-right: 2px; color: #999; font-size: 11px; }

/* 작성 */
.vist-vcmt-reg { margin-top: 10px; border-bottom: 1px solid #e5e5e5; }
.vist-vcmt-reg th,
.vist-vcmt-reg td ,#comment_reply_input th { padding: 6px 0; }
.vist-vcmt-reg th ,#comment_reply_input th { font-weight: normal; color: #9d9d9d; }
.vist-vcmt-reg .tb-left ,#comment_reply_input .tb-left{ padding: 0 3px; }
.vist-vcmt-reg th .tb-left { padding-left: 10px; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 45%; }

/* 게시판 타입 - 쓰기 */
.bbs-table-write { margin-top:10px; }
.bbs-table-write tbody th,
.bbs-table-write tbody td  { padding:6px 0; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#9d9d9d; font-weight:normal; font-size:11px; } 

/* 게시판 타입 - 비밀번호찾기 */
.bbs-table-pwd { margin-top: 100px; }
.bbs-table-pwd table { width:300px; margin-left:auto; margin-right:auto; }
.bbs-table-pwd tbody th,
.bbs-table-pwd tbody td  { padding:6px 0;  border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#9d9d9d; font-weight:normal; font-size:11px; } 

/* 공통으로 쓰는거 */
textarea { width:600px; height:47px; padding:2px; border:1px solid #ededed; }        
.input-style { padding:2px; height:18px; line-height:18px; border:1px solid #ededed; }
.cont-sub-des { position:relative; }
.cont-sub-des span { margin-right:15px; color:#555; }
.cont-sub-des span em { font-size:11px; color:#9c9c9c; }
.cont-sub-des .hit { position:absolute; top:15px; right:0; }
.cont-sub-des .hit span { margin-right:0; }
.comment-box { border-bottom:2px solid #e5e5e5; }
.bbs-table-view .comment-box td { padding-bottom:20px; border-top:1px solid #e5e5e5; vertical-align:top; }
.comment-box .com-name { margin-right:8px; padding:0 8px; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y 100% 0; font-weight:bold; color:#c5c5c5; }
.bbs-table-view td.com-wrt-box { border:0; }
.com-wrt-box label { padding-left:7px; color:#9d9d9d; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 50%; }
.com-wrt-box .input-style { margin:0 10px 0 7px; padding:2px; height:14px; line-height:14px; border:1px solid #EDEDED; }
.com-wrt-box .wrt { margin-top:7px; }
.view-link { padding:12px 0; }

/* 게시판 회원 게시글 검색 */
.search_id { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DADADA; display: block; padding: 3px; position: absolute; width: 90px; }

/* 개인정보보호정책 동의 */
.new-privercy-contract { text-align: left;  }
.new-privercy-contract p { font-weight: bold; margin: 0; margin-bottom: 10px; margin-top: 20px; text-align: left; }
.privercy-contract-tap { position: relative; height:40px; }
.privercy-contract-tap ul { list-style: none; margin: 0; padding: 0; position: absolute; bottom: -1px; *bottom: -2px; }
.privercy-contract-tap li { border: 1px solid #ccc; border-right: none; background: #F4F4F4; float:left; display: inline-block; }
.privercy-contract-tap li a { display: block; padding: 10px 10px; text-decoration: none; }
.privercy-contract-tap li.end { border-right: 1px solid #ccc; }
.privercy-contract-tap li.sel { background: #FFFFFF; border-bottom: 1px solid #FFFFFF; }
.privercy-contract { clear: both; }
.privercy-contract textarea { clear: both; border: 1px solid #CCC; height: 60px; background: #FFFFFF; padding: 10px; width: 660px; }
.privercy-agree { margin: 10px 0; }
.privercy-agree label{ margin-right: 10px; }

/* 주문하기, 주문완료 테이블 */
.table-order-info { margin-top: 10px; border-top: 2px solid #ededed; border-bottom: 2px solid #ededed; }
.table-order-info tbody th,
.table-order-info tbody td { padding: 10px 0 9px; border-bottom: 1px solid #ededed; }
.table-order-info tbody th { letter-spacing: -1px; text-align: left; padding:0 0 0 10px; }
.table-order-info tbody th .d-block { font-weight: normal; letter-spacing: 0; }
.table-order-info tbody tr.nbg th,
.table-order-info tbody tr.nbg td { background-image: none; }
.cnt-box { border-top: 2px solid #ededed; border-bottom: 2px solid #ededed; }

/* 마이페이지 디자인 타입2 테이블 리스트, 타이틀  (주문내역,쿠폰내역, 적립금내역,오늘본상품, 상품보관함, 내게시글보기, 1:1게시판, )*/
.tit-tb-list { margin-top: 30px; padding-left: 10px; }
.table-d2-list thead th { padding: 10px 0; background-color: #fcfcfc; color: #333; border-top: 1px solid #111; border-bottom: 1px solid #ccc; }
.table-d2-list tbody td { padding: 10px 0; border-bottom: 1px solid #ededed; }

/* 마이페이지 디자인 타입2 테이블 뷰 */
.table-d2-view { margin-top: 5px; border-top: 2px solid #ededed; border-bottom: 2px solid #ededed; }
.table-d2-view th, .table-d2-view td { padding: 6px 0 5px; border-bottom: 1px solid #ededed; }
.table-d2-view th { font-weight: bold; height: 30px; }

/* 장바구니 리스트, 주문상품 리스트, 관심상품, faq */
.table-cart { margin-top: 10px; margin-bottom : 30px; }
.table-cart thead th { padding: 10px 0; background-color: #fcfcfc; color: #333; border-top: 1px solid #111; border-bottom: 1px solid #ccc; }
.table-cart tbody td, .table-cart tfoot { border-bottom: 1px solid  #ededed }
.table-cart tbody td { padding: 11px 0 11px }
.table-cart tbody td .thumb { width: 50px; height: 50px; margin-left: auto; margin-right: auto; font-siez: 0; line-height: 0; }
.table-cart tbody td .thumb a, .table-cart tbody td .thumb img { display: block; width: 50px; height: 50px; }
.table-cart tbody td .thumb a { font-size: 0; line-height: 0; }
.table-cart tbody td .d-block { padding-bottom: 3px }
.table-cart tbody tr.nbg td { background-image: none }
.table-cart tfoot td { padding: 10px 0; font-weight: bold; }
.table-cart tfoot strong { }

/* 수량 컨트롤 */
.table-cart .opt-spin { position: relative; width: 36px; height: 20px; margin-left: auto; margin-right: auto; padding-bottom: 3px; }
.table-cart .opt-spin .txt-spin,
.table-cart .opt-spin .btns { float: left; }
.table-cart .opt-spin .txt-spin { width: 15px; height: 16px; padding-right: 2px; padding-top: 2px;  text-align: right; }
.table-cart .opt-spin .btns { width: 12px; height: 20px; margin-top: 3px; }
.table-cart .opt-spin .btns img { overflow: hidden; float: left; text-indent: -999px; background: none; }

/* .navi */
.navi p { text-align: right; }
.loc-navi { padding-top: 1px;}
.loc-r,
.loc-r a {color: #6b6b6b;text-transform: uppercase; font-family: 'Lato';}
.loc-r { float: right; }

/* 그외 */
.line_1px {height: 1px; ba6ckground-color: #ededed; }
.border_4px {padding:10px 15px;border:4px solid #ededed; }

/* 폼디자인 */
input, select {border:1px solid #ededed; vertical-align:middle; }
textarea {border:1px solid #ededed; vertical-align:middle; padding: 2px 0 0 2px; }
input[type=checkbox], input[type=radio], input[type=image] { border:0; }

/* 기본 버튼 */
.CSSbutton {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dedede;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #fcfcfc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #fcfcfc 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #fcfcfc 100% );
	background-color:#ffffff;
	color:#333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.CSSbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fcfcfc), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #fcfcfc 5%, #ffffff 100% );
	background-color:#f5f5f5;
	cursor:hand;
}
.CSSbutton:active {
	position:relative;
	top:1px;
}

/* 기본 버튼 - 블랙색상 */
.CSSbuttonDB {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #262626;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #444444), color-stop(100%, #222222) );
	background:-moz-linear-gradient( center top, #444444 5%, #222222 100% );
	background:-ms-linear-gradient( top, #444444 5%, #222222 100% );
	background-color:#444444;
	color:#eee;
	display:inline-block;
	text-shadow:1px 1px 0px #444444;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #444444;
 	-moz-box-shadow:inset 1px 1px 0px 0px #444444;
 	box-shadow:inset 1px 1px 0px 0px #444444;
}
.CSSbuttonDB:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #222222), color-stop(100%, #444444) );
	background:-moz-linear-gradient( center top, #222222 5%, #444444 100% );
	background:-ms-linear-gradient( top, #222222 5%, #444444 100% );
	background-color:#222222;
	cursor:hand;
}
.CSSbuttonDB:active {
	position:relative;
	top:1px;
}

/* 정사각형 버튼 */
.CSSbutton2 {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dedede;
	padding:22px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #fcfcfc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #fcfcfc 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #fcfcfc 100% );
	background-color:#ffffff;
	color:#333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.CSSbutton2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fcfcfc), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #fcfcfc 5%, #ffffff 100% );
	background-color:#f5f5f5;
	cursor:hand;
}
.CSSbutton2:active {
	position:relative;
	top:1px;
}

/* 직사각형 로그인 버튼 */
.CSSbuttonLog {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #262626;
	padding: 30px 20px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #444444), color-stop(100%, #222222) );
	background:-moz-linear-gradient( center top, #444444 5%, #222222 100% );
	background:-ms-linear-gradient( top, #444444 5%, #222222 100% );
	background-color:#444444;
	color:#eee;
	display:inline-block;
	text-shadow:1px 1px 0px #0;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #555;
 	-moz-box-shadow:inset 1px 1px 0px 0px #555;
 	box-shadow:inset 1px 1px 0px 0px #555;
}
.CSSbuttonLog:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #222222), color-stop(100%, #444444) );
	background:-moz-linear-gradient( center top, #222222 5%, #444444 100% );
	background:-ms-linear-gradient( top, #222222 5%, #444444 100% );
	background-color:#222222;
	cursor:hand;
}
.CSSbuttonLog:active {
	position:relative;
	top:1px;
}


/* 제일 작은 버튼 */
.CSSbuttonS {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dedede;
	padding:2px 10px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #fcfcfc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #fcfcfc 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #fcfcfc 100% );
	background-color:#ffffff;
	color:#555;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.CSSbuttonS:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fcfcfc), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #fcfcfc 5%, #ffffff 100% );
	background-color:#f5f5f5;
	cursor:hand;
}
.CSSbuttonS:active {
	position:relative;
	top:1px;
}

/* 큰 사이즈 버튼 - 상품상세 버튼 등 */
.CSSbuttonB {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dedede;
	width:185px;
	height:50px;
	line-height: 50px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #fcfcfc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #fcfcfc 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #fcfcfc 100% );
	background-color:#ffffff;
	color:#333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.CSSbuttonB:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fcfcfc), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #fcfcfc 5%, #ffffff 100% );
	background-color:#f5f5f5;
	cursor:hand;
}
.CSSbuttonB:active {
	position:relative;
	top:1px;
}

/* 큰 사이즈 블랙버튼 - 상품상세 버튼 등 */
.CSSbuttonBB {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #262626;
	width:190px;
	height:50px;
	line-height: 50px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #444444), color-stop(100%, #222222) );
	background:-moz-linear-gradient( center top, #444444 5%, #222222 100% );
	background:-ms-linear-gradient( top, #444444 5%, #222222 100% );
	background-color:#444444;
	color:#eee;
	display:inline-block;
	text-shadow:1px 1px 0px #0;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #555;
 	-moz-box-shadow:inset 1px 1px 0px 0px #555;
 	box-shadow:inset 1px 1px 0px 0px #555;
}
.CSSbuttonBB:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #222222), color-stop(100%, #444444) );
	background:-moz-linear-gradient( center top, #222222 5%, #444444 100% );
	background:-ms-linear-gradient( top, #222222 5%, #444444 100% );
	background-color:#222222;
	cursor:hand;
}
.CSSbuttonBB:active {
	position:relative;
	top:1px;
}

/*
========================================================================
공통 - 레아웃
========================================================================
*/

/* z-index */
#layerWrap { z-index: 1; }

/* layout */
#wrap { width: 100%; margin: 0 auto; }

#layerWrap,
#ftLink .link,
#header,
#content,
#footer { width: 1262px; margin: 0 auto; }
#contentWrapper { margin:25px 0 0;
    margin-bottom: 50px;  min-height: 730px;}
#contentWrap { /*padding-top: 50px !important; */ width: 1262px; margin: 0 auto; /*padding:20px 0 30px; */}
#contentWrap:after { content: ""; display: block; clear: both; }

/*
========================================================================
자주 수정하는 css
========================================================================
*/

/* .item-wrap */
.item-wrap { overflow: hidden; width: 1262px; }

.item-wrap .item-hd { margin: 40px 0 20px 0 }
.item-wrap .nbg { background: none; text-align: center; }

.item-wrap .item-info { zoom: 1; overflow: hidden; padding: 35px 0 10px; margin-bottom: 20px; border-bottom: 1px solid #ddd; font-size:13px;}
.item-wrap .item-info .item-total { float: left }
.item-wrap .item-info .item-total strong { color: #111; }
.item-wrap .item-info .item-order { float: right }
.item-wrap .item-info .item-order li { float: left; padding: 0 12px; }
.item-wrap .item-info .item-order li.nobg { padding-right: 0; }
.item-wrap .item-info .item-order li a { font-size: 12px }
.item-wrap .item-info .item-order li a .on { color: #111; font-weight: bold; }

.item-wrap .item-cont { zoom: 1; width: 1262px; }
.item-wrap .item-cont:after { content: ""; display: block; clear: both; }
.item-wrap .item-cont .item-list { float: left; width: 240px; height: 420px; padding: 0 46px 60px 0;}
.item-wrap .item-cont .item-list .thumb img { width: 240px; }
.item-wrap .item-cont .item-list a:hover img { filter: alpha(opacity=50); opacity: 0.5; }
.item-wrap .item-cont .item-list li { margin-top: 5px }
.item-wrap .item-cont .item-list dd { padding-top: 2px }
.item-wrap .item-cont .item-list .line { color: #8f8f8f; font-size: 11px; }
.item-wrap .item-cont .item-list .prd-name { color: #111; }
.item-wrap .item-cont .item-list .prd-price { color: #111; }
.item-wrap .item-cont .item-list .prd-price span { color:#ff2947;}
.item-wrap .item-cont .nomg { padding-right: 0; }

.item-wrap .item-page { margin-top: 50px; text-align: center; }
.item-wrap .item-page a{padding: 0 13px; font-family: 'Lato', sans-serif; font-size: 15px;}
.item-wrap .item-page a img{margin-bottom: 1px;}
.item-wrap .item-page a.now { color: #111; font-weight: bold; letter-spacing: -1px; }

/* 페이지 타이틀 */
#content .tit-page { /*text-align: center; width: 220px; font-size: 18px; color: #1e1e1e; padding: 3px 15px; margin: 60px auto 30px;*/ }
#content .tit-page .dsc { position: absolute; right: 0px; top: 15px; letter-spacing: -1px; }
#content .tit-page .dsc em { }

/* 페이지 작은 타이틀 */
#content .tit-page-sub { font-weight: bold; padding: 0 0 0 5px; color: #333; margin: 50px 0 10px 0;  background: url("/images/d3/modern_house/common/bull_h2_w2_dgray.gif") no-repeat scroll 0 50% ; }
#content .tit-page-sub-1st { font-weight: bold; padding: 0 0 0 5px; color: #333;  background: url("/images/d3/modern_house/common/bull_h2_w2_dgray.gif") no-repeat scroll 0 50% ; }
#content .tit-page-sub label { float: right }

/* 상세페이지 타이틀 */
#productDetail .board-hd { margin: 80px auto 20px ; text-align: center; width: 220px; font-size: 18px; color: #1e1e1e; padding: 3px 15px; border: 3px double #dedede; }

/* 분류 타이틀 */
#prdBrand .cate-wrap .bcate {text-align: center; font-size: 30px;  color: #1e1e1e;  padding: 8px 15px;  font-family: 'Roboto', sans-serif !important;  margin: 30px auto;   font-weight: bold;}
/* 분류 네비 */
#prdBrand .cate-wrap { width:100%; overflow: hidden; }
#prdBrand .cate-wrap .class-list { zoom: 1; text-align: center; margin-bottom: 15px; }
#prdBrand .cate-wrap .class-list span {  padding: 0 25px; white-space: nowrap;  }
#prdBrand .cate-wrap .class-list span a {  white-space: nowrap; font-size:13px; }
#prdBrand .cate-wrap .class-list span a:hover { text-decoration: underline; color:#111; }

/* 게시판 타이틀 */
.bbs-tit { text-align: center; width: 220px; font-size: 18px; color: #1e1e1e; padding: 3px 15px; margin: 30px auto 50px; border: 3px double #dedede; }
.bbs-tit .braket { font-size: 0; line-height:0; }
.bbs-tit em { margin-left: 10px; font-size: 11px; color: #898989; }