<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="selvishop">
  
    
  
    <select id="order_list" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
           select * from prdt_order 
        ]]>
    </select>
    
    
    <select id="myinfo_get" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
           select * from member where mem_id = '${mem_id}'          
        ]]>
    </select>
    
    
    <select id="myinfo_modify" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
           update member set   where mem_idx_pk = ${mem_idx_pk}           
        ]]>
    </select>
  
  
  </mapper>
  